## Data Preprocessing

### shifting

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from electricity_price_predictor.data_2 import get_price
df = get_price()
df.head()

                     price
time
2015-01-01 00:00:00  25.02
2015-01-01 01:00:00  18.29
2015-01-01 02:00:00  16.04
2015-01-01 03:00:00  14.60
2015-01-01 04:00:00  14.95

In [22]:
df.shape

(51726, 1)

In [3]:
df[df.price.isnull()]

                     price
time
2015-03-29 02:00:00    NaN
2016-03-27 02:00:00    NaN
2017-03-26 02:00:00    NaN
2018-03-25 02:00:00    NaN
2019-03-31 02:00:00    NaN
2020-03-29 02:00:00    NaN

In [4]:
df.reset_index()['time'].value_counts().head(8)

2019-10-27 02:00:00    2
2020-10-25 02:00:00    2
2016-10-30 02:00:00    2
2017-10-29 02:00:00    2
2015-10-25 02:00:00    2
2018-10-28 02:00:00    2
2017-05-31 04:00:00    1
2020-05-02 05:00:00    1
Name: time, dtype: int64

**They are likely caused by daylight saving time**

In [5]:
df.loc['2015-10-25 02:00:00']

                     price
time
2015-10-25 02:00:00  20.82
2015-10-25 02:00:00  20.77

In [6]:
df_1 = df.loc['2015-01-01 00:00:00':'2015-03-29 01:00:00']
df_2 = df.loc['2015-03-29 02:00:00':'2015-10-25 02:00:00']
df_3 = df.loc['2015-10-25 03:00:00':'2016-03-27 01:00:00']
df_4 = df.loc['2016-03-27 02:00:00':'2016-10-30 02:00:00']
df_5 = df.loc['2016-10-30 03:00:00':'2017-03-26 01:00:00']
df_6 = df.loc['2017-03-26 02:00:00':'2017-10-29 02:00:00']
df_7 = df.loc['2017-10-29 03:00:00':'2018-03-25 01:00:00']
df_8 = df.loc['2018-03-25 02:00:00':'2018-10-28 02:00:00']
df_9 = df.loc['2018-10-28 03:00:00':'2019-03-31 01:00:00']
df_10 = df.loc['2019-03-31 02:00:00':'2019-10-27 02:00:00']
df_11 = df.loc['2019-10-27 03:00:00':'2020-03-29 01:00:00']
df_12 = df.loc['2020-03-29 02:00:00':'2020-10-25 02:00:00']
df_13 = df.loc['2020-10-25 03:00:00':'2020-11-24 23:00:00']

In [21]:
df_8.shift(periods=-1)

                     price
time
2018-03-25 02:00:00  37.85
2018-03-25 03:00:00  37.28
2018-03-25 04:00:00  37.51
2018-03-25 05:00:00  37.99
2018-03-25 06:00:00  38.67
...                    ...
2018-10-27 23:00:00  44.53
2018-10-28 00:00:00  43.58
2018-10-28 01:00:00  41.62
2018-10-28 02:00:00  41.59
2018-10-28 02:00:00    NaN

[5210 rows x 1 columns]

In [7]:
import pandas as pd
df_list = [df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11, df_12, df_13]
price_df = df_1
for data in df_list[1:]:
    data = data.shift(periods=-1).dropna()
    price_df = pd.concat([price_df, data])

In [26]:
price_df.loc['2015-10-25 02:00:00']

price    20.77
Name: 2015-10-25 02:00:00, dtype: float64

In [9]:
price_df.isnull().sum()

price    0
dtype: int64

In [10]:
price_df.reset_index()['time'].value_counts().head()

2017-05-31 04:00:00    1
2019-07-21 08:00:00    1
2015-09-20 07:00:00    1
2020-08-05 12:00:00    1
2018-04-24 12:00:00    1
Name: time, dtype: int64

In [11]:
price_df.shape

(51714, 1)