## Data Preprocessing

### shifting

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from electricity_price_predictor.data_2 import get_price
df = get_price()
df.head()

                 time  price
0 2015-01-01 00:00:00  25.02
1 2015-01-01 01:00:00  18.29
2 2015-01-01 02:00:00  16.04
3 2015-01-01 03:00:00  14.60
4 2015-01-01 04:00:00  14.95

In [3]:
df[df.price.isnull()]

                     time  price
2090  2015-03-29 02:00:00    NaN
10827 2016-03-27 02:00:00    NaN
19564 2017-03-26 02:00:00    NaN
28301 2018-03-25 02:00:00    NaN
37206 2019-03-31 02:00:00    NaN
45943 2020-03-29 02:00:00    NaN

In [4]:
df.time.value_counts().head(10)

2015-10-25 02:00:00    2
2017-10-29 02:00:00    2
2020-10-25 02:00:00    2
2016-10-30 02:00:00    2
2018-10-28 02:00:00    2
2019-10-27 02:00:00    2
2020-10-16 04:00:00    1
2015-11-30 23:00:00    1
2015-10-08 05:00:00    1
2018-03-31 21:00:00    1
Name: time, dtype: int64

**They are likely caused by daylight saving time**

In [5]:
df[df.time=='25.10.2020 02:00']

                     time  price
50983 2020-10-25 02:00:00   0.15
50984 2020-10-25 02:00:00   0.09

In [6]:
df[df.time=='27.10.2019 02:00']

                     time  price
42246 2019-10-27 02:00:00   9.04
42247 2019-10-27 02:00:00   0.05

In [7]:
df[df.time=='28.10.2018 02:00']

                     time  price
33509 2018-10-28 02:00:00  41.62
33510 2018-10-28 02:00:00  41.59

In [8]:
df[df.time=='29.10.2017 02:00']

                     time  price
24772 2017-10-29 02:00:00 -24.62
24773 2017-10-29 02:00:00 -21.06

In [12]:
df_1 = df.iloc[:2090, :]
df_2 = df.iloc[2090:7132, :]
df_3 = df.iloc[7132:10827, :]
df_4 = df.iloc[10827:16037, :]
df_5 = df.iloc[16037:19564, :]
df_6 = df.iloc[19564:24774, :]
df_7 = df.iloc[24774:28301, :]
df_8 = df.iloc[28301:33511, :]
df_9 = df.iloc[33511:37206, :]
df_10 = df.iloc[37206:42248, :]
df_11 = df.iloc[42248:45943, :]
df_12 = df.iloc[45943:,]

In [13]:
import pandas as pd
no_shift = [df_1, df_3, df_5, df_7, df_9, df_11]
shift_list = [df_2, df_4,df_6, df_8, df_10, df_12]
price_df = df_1.set_index('time')
for data in no_shift[1:]:
    data.set_index('time', inplace=True)
    price_df = pd.concat([price_df, data])
for data in shift_list:
    data.set_index('time', inplace=True)
    data = data.shift(periods=-1).dropna()
    price_df = pd.concat([price_df, data])

In [14]:
price_df.isnull().sum()

price    0
dtype: int64

In [15]:
price_df

                     price
time
2015-01-01 00:00:00  25.02
2015-01-01 01:00:00  18.29
2015-01-01 02:00:00  16.04
2015-01-01 03:00:00  14.60
2015-01-01 04:00:00  14.95
...                    ...
2020-11-24 18:00:00   6.94
2020-11-24 19:00:00   6.45
2020-11-24 20:00:00   5.97
2020-11-24 21:00:00   4.99
2020-11-24 22:00:00   4.41

[51720 rows x 1 columns]