In [2]:
from electricity_price_predictor.data import get_data, get_past_weather
import pandas as pd

In [21]:
df = get_data()
df[df.index.hour==10].tail(10)

                     price  temp  humidity  wind_speed  holiday  weekend
2020-12-21 10:00:00  23.84  5.52      93.0        5.10        0        0
2020-12-22 10:00:00  20.13  7.15      93.0        2.60        0        0
2020-12-23 10:00:00     54  5.31      87.0        5.70        0        0
2020-12-24 10:00:00  23.81  1.77      96.0        4.89        0        0
2020-12-25 10:00:00  39.65 -0.61      91.0        2.99        1        0
2020-12-26 10:00:00  22.62  2.22      94.0        1.79        1        1
2020-12-27 10:00:00 -19.84  4.67      93.0        7.15        0        1
2020-12-28 10:00:00  49.78  3.30      88.0        6.83        0        0
2020-12-29 10:00:00  51.23  3.56      90.0        5.07        0        0
2020-12-30 10:00:00    NaN  4.10      90.0        4.59        0        0

In [22]:
tmp = df.copy()

In [44]:
from datetime import timedelta, date, datetime
day = date.today()-timedelta(days=4)
past = get_past_weather(day)
past.head()

                     temp  humidity  wind_speed
dt
2020-12-22 01:00:00  5.79      95.0        3.13
2020-12-22 02:00:00  5.69      94.0        2.68
2020-12-22 03:00:00  5.70      95.0        3.58
2020-12-22 04:00:00  5.70      96.0        3.13
2020-12-22 05:00:00  5.73      96.0        3.58

In [22]:
columns = ['temp', 'humidity', 'wind_speed']
for col in columns:
    tmp.loc[past.index[0]:, col] = past[col]

In [64]:
tmp.index.name='dt'
tmp[tmp.index.hour==10].tail(10)

                     price  temp  humidity  wind_speed  holiday  weekend
dt
2020-12-20 10:00:00  17.13  7.47      90.0        5.95        0        1
2020-12-21 10:00:00  23.84  5.52      93.0        5.10        0        0
2020-12-22 10:00:00  20.13  7.15      93.0        2.60        0        0
2020-12-23 10:00:00  54.00  5.31      87.0        5.70        0        0
2020-12-24 10:00:00  23.81  1.77      96.0        4.89        0        0
2020-12-25 10:00:00  39.65 -0.61      91.0        2.99        1        0
2020-12-26 10:00:00  22.62  2.22      94.0        1.79        1        1
2020-12-27 10:00:00 -19.84   NaN       NaN         NaN        0        1
2020-12-28 10:00:00  49.78  3.30      88.0        6.83        0        0
2020-12-29 10:00:00    NaN  3.34      96.0        1.81        0        0

In [66]:
tmp.drop(columns=['price', 'holiday', 'weekend'], inplace=True)
tmp.to_csv('../raw_data/updated_weather.csv')

In [67]:
df = get_data()
df[df.index.hour==10].tail(10)

                     price  temp  humidity  wind_speed  holiday  weekend
2020-12-20 10:00:00  17.13  7.47      90.0        5.95        0        1
2020-12-21 10:00:00  23.84  5.52      93.0        5.10        0        0
2020-12-22 10:00:00  20.13  7.15      93.0        2.60        0        0
2020-12-23 10:00:00  54.00  5.31      87.0        5.70        0        0
2020-12-24 10:00:00  23.81  1.77      96.0        4.89        0        0
2020-12-25 10:00:00  39.65 -0.61      91.0        2.99        1        0
2020-12-26 10:00:00  22.62  2.22      94.0        1.79        1        1
2020-12-27 10:00:00 -19.84   NaN       NaN         NaN        0        1
2020-12-28 10:00:00  49.78  3.30      88.0        6.83        0        0
2020-12-29 10:00:00    NaN  3.34      96.0        1.81        0        0